@tailwind base;
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
}
@tailwind components;
@tailwind utilities;

svg {
  display: inline;
}

img {
  display: inline;
  vertical-align: top;
}

.tweet-content {
  width : 100% !important; 
  font-size: min(2vmax, 1.5rem) !important;
} 

.twemoji-bg {
  height: min(2vmax, 1.5rem) !important;
  width: min(2vmax, 1.5rem) !important;
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
  .min-h-screen {
    min-height: -webkit-fill-available;
  }
}